*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    color: #F3F1C4;
    transition: 0.5s;
}
body{
    background: rgb(64,63,43);
    padding: 10px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.navleft h1{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 40px;
}
.navRight a{
    margin-right: 20px;
}
.navRight a:hover{
    text-decoration: underline;
}
section{
    background-image: url(images/a-woman.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.homeContent{
    text-align: center;
    padding: 30px;
}
.homeContent h2{
    font-size: 106px;
    font-family: serif;
    color: rgb(254,250,241);
    font-weight: 400;
    margin-top: 30px;
}
.homeContent p{
     color: rgb(254,250,241);
     font-size: 25px;
}
section .btn{
    text-align: center;
}
.btn button{
    color: rgb(254,250,241);
    background: transparent;
    border-radius: 20px;
    border-color: rgb(254,250,241);
    padding: 10px;
    margin-bottom: 150px;
    border: 2px solid;
    width: 150px;
    cursor: pointer;
}
button:hover{
    background: #fff;
    color: black;
}
.content{
    border: 2px solid;
}
.aboutTherapist{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aboutContent{
    max-width: 400px;
    margin-left: 20px;
    margin-top: 20px;
}
.aboutContent h2{
    font-size: 76px;
    font-family: serif;
    font-weight: 500;
}
.aboutTherapist img{
    width: 600px;
    height: 600px;
    border: 2px solid;
} 
.buttn button{
    color: black;
    background: rgb(254,250,241);
    border-radius: 25px;
    border-color: rgb(254,250,241);
    padding: 15px;
    margin-bottom: 150px;
    border: 2px solid;
    width: 250px;
    cursor: pointer;
}
.buttn{
    margin-top: 70px;
}
.buttn button:hover{
    background: transparent;
    color: white;
}
.threeCards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    border-bottom: 2px solid;
}
.servicsss h1{
    text-align: center;
    font-size: 4rem;
    font-family: serif;
    font-weight: 400;
    margin: 40px;
}
.cards{
    margin: 30px;
    padding: 10px;
}
.cards h3{
    font-size: 21px;
    margin-top: 20px;
    font-weight: 500;
}
.cards p{
    max-width: 300px;
    margin-top: 30px;
    font-weight: 200;
    word-spacing: 2px;
}
.Contacts{
    margin: 40px;
}
.Contacts h1{
    font-weight: 300;
    font-family: serif;
    font-size: 4.5rem;
}
.Contacts p{
    font-weight: 200;
    font-size: 25px;
}
.ContactInput{
    text-align: ;
    border-bottom: 2px solid;
    padding: 20px;
}
.ContactInput input{
    border: none;
    background: transparent;
    border-bottom: 2px solid;
    width: 900px;
    padding: 20px;
    outline: none;
    margin: 20px;
    font-size: 20px;
}

.sendbtn button{
    color: black;
    width: 400px;
    padding: 13px;
    border-radius: 35px;
    border: none;
    cursor: pointer;
}
.sendbtn button:hover{
    color: rgb(254,250,241);
    background: transparent;
    border: 1px solid;
}
.logoSession{
    padding: 30px;
    border-bottom: 2px solid;
}
.logoSession h1{
    font-family: serif;
    font-size: 3rem;
    font-weight: 400;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
}
